	*
			{
				padding: 0;
				margin: 0;
			}
			
			body
			{
				background-image: url('images/tlo_strony.jpg');
				background-attachment: fixed;
			}
			
			a
			{
				color: teal;
				text-decoration: none;
			}
			
			a:hover
			{
				color: #06376C;
			}
				
			#kontener
			{
				width: 90%;
				margin: 0 auto;
			}		
			
			#header
			{
				position: relative;
				margin-top: 10px;
				background-image: url('images/header22.jpg');
				width: 1700px;
				height: 125px;
			}		
			
			img.logo
			{
				position: absolute;
				height: 85px;
				width: 85px;
				top: 20px;
				left: 20px;
				bottom: 20px;	
			}
			
			#kontakt_box
			{
				position: absolute;
				right: 40px;
				top: 20px;
				bottom: 20px;
				font-family: "Trebuchet MS", Helvetica, sans-serif;
				font-size: 13px;
				color: white;
			}	
			
			/* MENU GÓRNE */
			
			#gorne_menu
			{
				position: absolute;
				left: 120px;
				bottom: 0px;
			}
			
			#wlasciwe_gorne_menu li
			{
				list-style-type: none;
				float: left;
				border-right: 1px solid #2E2121;
			}
			
			#wlasciwe_gorne_menu li a
			{
				background-image: url('images/srodek_menu_gornego.gif');
				height: 31px;
				display: inline-block;
				float: left;
				padding: 0px 10px;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 11px;
				color: white;
			}
			
			#wlasciwe_gorne_menu li a:hover
			{
				background-image: url('images/srodek_menu_gornego_hover.gif');
				color: #CCCCCC;
			}
			
			span.link
			{
				display: inline-block;
				margin-top: 10px;
			}
				
			/* Srodkowe menu */
			
			#srodkowe_menu
			{
				background-image: url('images/srodkowe_menu.gif');
				width: 99.3%;
				height: 32px;	
			}		
			
			#srodkowe_menu li
			{
				list-style-type: none;
				float: left;
			}
			
			#srodkowe_menu li a
			{
				border-bottom: none;
				color: #C7C7D4;
				font-size: 15px;
				font-family:"Trebuchet MS", Helvetica, sans-serif;
				font-weight: bold;
				font-style: italic;
			}
			
			#srodkowe_menu li span.link2
			{
				display: inline-block;
				margin-top: 7px;
			}
			
			#srodkowe_menu #srodkowe_menu_klik
			{
				margin-left: 20px;
			}
			
			#srodkowe_menu span.odstep
			{
				display: inline-block;
				margin: 5px 10px 0px 10px;
				color: #C7C7D4;
			}
			
			#srodkowe_menu li a:hover
			{
				color: white;
			}
			
			/* Menu rozwijane */
			
			#srodkowe_menu_klik > li
			{
				position: relative;
				height: 40px;
			}
			
			#srodkowe_menu_klik li .rozwijka
			{
				display: none;
				position: absolute;
				top: 1.3em;
				left: 0em;
				background-color: #0F3250;
				border-left: 1px solid gray;
				border-bottom: 1px solid gray;
				border-right: 1px solid gray;
				opacity: 0.7;
				padding-left: 20px;
				padding-right: 20px;
				margin-left: -20px;
				
			}
			
			#srodkowe_menu_klik li:hover .rozwijka
			{
				display: inline-block;
				width: 66px;
			}
			
			#srodkowe_menu_klik li .rozwijka li
			{
				width: 40px;
				text-align: left;
				margin-left: 13px;
				border-top: 1px solid #CCCCCC;
			}
			
			#srodkowe_menu_klik li .rozwijka li a
			{
				display: block;
				width: 40px;
				margin-bottom: 5px;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 11px;
				font-style: normal;
				font-weight: bold;
			}
			
			#srodkowe_menu_klik li .rozwijka li a:hover
			{
				background-color: #CCCCCC;
				padding-left: 33px;
				margin-left: -33px;
				padding-right: 33px;
				margin-top: -1px;
				border-top: 1px solid #CCCCCC;
				color: black;
			}
			
			#srodkowe_menu_klik .rozwijka li.pierwszy_element_menu
			{
				margin-top: 5px;
			}
			/* GŁÓWNA ZAWARTOŚĆ STRONY */
			
			#zawartosc
			{
				/* position: relative; */
				width: 98.4%;
				
			}
			
			#zawartosc1
			{
				/* position: absolute; */
				width: 944px;
				margin-left: 170px;
			}
			#tekst
			{
				text-align: justify;
				padding: 10px 50px;
				line-height: 140%
				font-size: 12;
				font-family:"Trebuchet MS", Helvetica, sans-serif;
			}
			#tekst h1
			{
				font-size: 30px;
				text-align: center;
				color: #0A3C72;
				margin-bottom: 22px;
				font-family: Calibri, Tahoma, Arial;
				font-style: bold;
			}
			
			#tekst h2
			{
				margin-bottom: 15px;
				color: #0A3C72;
				font-family: Calibri, Tahoma, Arial;
				font-style: bold;
			}
			#tekst h3
			{
				margin-bottom: 15px;
				color: #0A3C72;
				font-family: Calibri, Tahoma, Arial;
				font-style: bold;
			}
			#tekst h4
			{
				margin-bottom: 15px;
				color: #0A3C72;
				font-family: Calibri, Tahoma, Arial;
				font-style: bold;
			}
			
			p
			{
				margin-bottom: 15px;
			}
			
			#gorna_czesc_zawartosci
			{
				background-image: url('images/gorna_czesc_zawartosci.gif');
				margin-left: 200px;
				width: 944px;
				height: 17px;
			}
			
			#srodkowa_czesc_zawartosci
			{
				background-image: url('images/srodkowa_czesc_zawartosci.gif');
				margin-left: 200px;
				width: 944px;
				background-repeat: repeat-y;
			}
			
			#dolna_czesc_zawartosci
			{
				background-image: url('images/dolna_czesc_zawartosci.gif');
				margin-left: 200px;
				width: 944px;
				height: 31px;
			}
			
			/* DOLNA CZĘŚĆ STRONY */
			
			#dolna_czesc_strony
			{
				position: relative;
				background-image: url('images/header22.jpg');
				width: 1700px;
				height: 125px;
				margin-bottom: 10px;
			}
			
			#newsletter_icon
			{
				float: left;
				margin-left: 20px;
				margin-top: 10px;
			}
			#tekst_newsletter
			{
				color: white;
				text-align: left;	
			}
			
			#naglowek_newsletter
			{
				position: absolute;
				margin-top: 15px;
				margin-left: 100px;
				font-size: 20px;
				font-family: "Comic Sans MS";
				font-weight: bold;
				
			}
			
			#form_newsletter
			{
				position: absolute;
				margin-top: 50px;
				margin-left: 100px;
				font-size: 15px;
				font-family: "Comic Sans MS";
				font-weight: bold;
			}
			
			.input_text
			{
				background-color: gray;
				font-size: 12px;
				font-weight: bold;
			}
			
			.submit_button
			{
				padding: 2.5px;
				font-size: 10px;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-weight: bold;
				cursor: pointer;
				border: 2px outset gray;	
			}
			
			.submit_button:hover
			{
				color: green;
			}
			
			.submit_button:active
			{
				border: 2px inset gray;
			}
			
			#newsletter_info
			{
				position: absolute;
				margin-top: 90px;
				margin-left: 500px;
				font-size: 11px;
				font-family: Helvetica;
				font-weight: italic;
			}
			


